{% include 'admin/admin_header.html' %}
<br><br>
<center>
<h1>Payments</h1>


{% if data %}


    <table class="table">
        <tr>
                <th>Sl No</th>
                <th>Student</th>
                <th>Amount</th>
                <th>Month</th>
                <th>Date</th>

        </tr>
        {% for i in data %}
        <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.STUDENT.student_name}}</td>
                <td>{{i.payment_amount}}</td>
                <td>{{i.month_of_rent}}</td>
                <td>{{i.date_of_payment}}</td>
        </tr>

        {% endfor %}
    </table>
{% else %}
    <h4 class="wow fadeInUp" data-wow-delay="0.4s">No Details Available</h4>
{% endif %}

</center>   

{% include 'admin/admin_footer.html' %}