{% include 'admin/admin_header.html' %}
<br><br>
<center>
<h1>Notification</h1>
<a class="btn btn-success" href="admin_add_notification">Add Notification</a>
<br><br>


{% if data %}


    <table class="table">
        <tr>
                <th>Sl No</th>
                <th>Date</th>
                <th>Description</th>

        </tr>
        {% for i in data %}
        <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{i.date_of_notification}}</td>
                <td>{{i.description}}</td>
                <td><a href="../admin_delete_notification/{{i.id}}" class="btn btn-danger">Delete</a></td>
        </tr>

        {% endfor %}
    </table>
{% else %}
    <h4 class="wow fadeInUp" data-wow-delay="0.4s">No Details Available</h4>
{% endif %}

</center>   

{% include 'admin/admin_footer.html' %}